/* icon */

.fa-trash {
    color: red;
}

.delete_all .fa-trash {
    color: white;
}

.edit_all .fa-pen {
    color: white;

}

.fa-pen {
    color: green;
    margin-right: 20px;
}

.fa-check {
    color: green;
    margin-right: 20px;
}

.fa-times {
    color: red;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border-bottom: 2px solid #946868;
}

.input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 0.7rem;
    font-size: 0.8rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

.select {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border: none;
    border-bottom: 2px solid #946868;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    outline: none;
    background: none;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;

}

#user {
    color: white;
}


/* Datatable */
.dataTables_length {
    margin-top: 5px;
    margin-left: 20px;
}

.dataTables_filter {
    position: relative;
    right: 150px;
    bottom: 35px;
}

.action{
    min-width: 70px;
    text-align: center;
}

.list{
    min-width: 100px;
    /* font-size: 15px;
    text-align: center; */
}

/* tabel livetable */

#table_id {
    position: relative;
    bottom: 0px;
    text-align: center;
}

#table tbody tr td {
    text-align: center;
    height: 10px;
}


.title{
    font-size: 25px;
}

@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1650px;
    }
  }

/* #table-detail{
    width: 1024px;
    text-align: center;
}
 */

