/* icon */

.fa-trash {
    color: red;
}

.delete_all .fa-trash {
    color: white;
}

.edit_all .fa-pen {
    color: white;

}

.fa-pen {
    color: green;
    margin-right: 20px;
}

.fa-check {
    color: green;
    margin-right: 20px;
}

.fa-times {
    color: red;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border-bottom: 2px solid #946868;
}

<<<<<<< HEAD
.input{
=======
.input {
>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 0.7rem;
    font-size: 0.8rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

.select {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border: none;
    border-bottom: 2px solid #946868;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    outline: none;
    background: none;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD

=======
>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
}

#user {
    color: white;
}
<<<<<<< HEAD
=======

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
/* Datatable */
.dataTables_length {
    margin-top: 5px;
    margin-left: 20px;
}

.dataTables_filter {
    position: relative;
    right: 150px;
    bottom: 35px;
}

/* tabel livetable */

#table_id {
    position: relative;
    bottom: 0px;
    text-align: center;
}

/* Datatable */
.dataTables_length {
    margin-top: 5px;
    margin-left: 20px;
}
<<<<<<< HEAD
.action{
    min-width: 80px;
    text-align: center;
}
.list{
=======

.action {
    min-width: 80px;
    text-align: center;
}
.list {
>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
    min-width: 140px;
    font-size: 15px;
    text-align: center;
}
<<<<<<< HEAD
.list-seller{
=======
.list-seller {
>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
    min-width: 180px;
    font-size: 15px;
    text-align: center;
}
.dataTables_filter {
    position: relative;
    right: 150px;
    bottom: 35px;
}
<<<<<<< HEAD
.fa-times {
    color: red;
}
=======

.fa-times {
    color: red;
}

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border-bottom: 2px solid #946868;
}
<<<<<<< HEAD
.input{
=======

.input {
>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 0.7rem;
    font-size: 0.8rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD
=======

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
.select {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 0px;
    padding: 13px;
    border: none;
    border-bottom: 2px solid #946868;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    outline: none;
    background: none;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}
/* tabel livetable */
<<<<<<< HEAD
=======

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
#table_id {
    position: relative;
    bottom: 0px;
    text-align: center;
}
<<<<<<< HEAD
/*  */
=======

/*  */

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
/* .main-header .logo-header .navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0;
}
<<<<<<< HEAD
#detailcustomer tbody tr td {
    text-align: center;
}
=======


#detailcustomer tbody tr td {
    text-align: center;

}

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
.list{
    min-width: 250px;
    font-size: 15px;
    text-align: center;
}
.main-header .logo-header .navbar-toggler .navbar-toggler-icon {
    background: url(../img/menu2.png);
    background-size: cover;
    height: 1em;
    width: 1em;
    opacity: 0.8;
} */
<<<<<<< HEAD
=======

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
/* .delete_all{
    display: none;
}
.edit_all{
    display: none;
}
<<<<<<< HEAD
=======

>>>>>>> 7f487e11d887604e31cbc913b8ce5c4f7bb1646e
.add {
    display: none;
} */
